<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catsies cats!</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-favorite-cats></app-favorite-cats>
  <ion-button (click)="showCatForm()">New Cat</ion-button>
  <app-cat-form *ngIf="catFormVisible" [cat]="selectedCat" (formClose)="catFormClosed()"></app-cat-form>
  <app-cat-card *ngFor="let cat of cats"
                [cat]="cat"
                [expanded]="cat.id === expandedCatId"
                (expand)="toggleExpand(cat)"
                (editCat)="editCat($event)"></app-cat-card>
  
  
</ion-content>
